---
import {links} from "../../../data/page-links";
import type { LinkItem } from "../../../interfaces/Links.interface";
import "./styles.css";
const {pathname} = Astro.url;
---
<script is:inline>
  const toggleMenu = () =>{
    const navContainerNode = document.getElementById("nav-container");
    navContainerNode.dataset.hidden = navContainerNode.dataset?.hidden === "true" ? "false" : "true";
}
</script>
<nav class="nav-container">
    <button onclick="toggleMenu()" aria-label="Menu button" role="button" class="open-menu-btn">
      <i class="icofont-navigation-menu"></i>
    </button>
  </nav>
  <div class="nav-ul-container" data-hidden="true" id="nav-container">
    <ul class="nav-ul">
      {links.map((link: LinkItem): Element => {
        return (
          <li class={`nav-link ${pathname.split('/')[1] === link.href.split('/')[1] ? 'active-link' : ''}`}>
            <a href={link.href}>{link.name}</a>
          </li>
        );
      })}
    </ul>
  </div>