---
import "./styles.css";
---
<div class="testimonials">
    <div class="slide">
        <p>"Este es el primer testimonio. Excelente servicio y muy recomendado!"</p>
        <h4>- Cliente 1</h4>
    </div>
    <div class="slide">
        <p>"Muy satisfecho con el producto. Definitivamente compraría de nuevo."</p>
        <h4>- Cliente 2</h4>
    </div>
    <div class="slide">
        <p>"La mejor experiencia de compra que he tenido. Cinco estrellas!"</p>
        <h4>- Cliente 3</h4>
    </div>
    <div class="slide">
        <p>"La mejor experiencia de compra que he tenido. Cinco estrellas!"</p>
        <h4>- Cliente 3</h4>
    </div>
    <div class="slide">
        <p>"La mejor experiencia de compra que he tenido. Cinco estrellas!"</p>
        <h4>- Cliente 3</h4>
    </div>
</div>

<script>
</script>