---
import Layout from "../../layouts/Layout.astro";
import "./devathon-edition.css";
import TeamExpandableCard from "../../components/astro/TeamExpandableCard/index.astro";
import type { Data } from "../../interfaces/DevathonTeamsData";
import { devathonTeamsData } from "../../data/devathon-teams";

const { data } = devathonTeamsData;
---

<Layout title="4ta edici贸n">
  <main>
    <section>
      <h1>Devathon: 4ta edici贸n</h1>
      <div class="teams-container">
        {
          data.map((teamData: Data) => {
            const { name, score } = teamData;
            return <TeamExpandableCard name={name} score={score} />;
          })
        }
      </div>
    </section>
    <section>
      <h1>Sponsors de esta edici贸n</h1>
    </section>
    <section>
      <h1>Informaci贸n general</h1>
    </section>
  </main>
</Layout>
