---
import Layout from "../../layouts/Layout.astro";
import AnimatedTitle from "../../components/astro/AnimatedTitle/index.astro";
import "./styles.css";
import ResourcesList from "../../components/astro/ResourcesList/index.astro";
import { webResources } from "../../data/web-resources";
import WebResources from "../../components/svelte/WebResources/index.svelte";

---

<Layout title="Recursos">
  <main>
    <div class="container">
      <section>
        <AnimatedTitle color="blue" text="Recursos para aprender y practicar programación" />
        <!-- <ResourcesList resourcesItemList={webResources} /> -->
        <WebResources client:load resourceList={webResources}>
          <AnimatedTitle slot="animated-title" color="blue" text=">" />
        </WebResources>
      </section>
    </div>
  </main>
</Layout>
