---
import Layout from "../../layouts/Layout.astro";
import AnimatedTitle from "../../components/astro/AnimatedTitle/index.astro";
import "./styles.css";
import ResourcesList from "../../components/astro/ResourcesList/index.astro";
import { webResources } from "../../data/web-resources";

---

<Layout title="Recursos">
  <main>
    <div class="container">
      <section>
        <AnimatedTitle color="blue" text="Recursos para aprender y practicar programación" />
        <ResourcesList resourcesItemList={webResources} />
      </section>
    </div>
  </main>
</Layout>
