.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.2em;
  gap: 1rem;
}

.image-container img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

p {
  font-size: 1.2em;
}
