---
import { Image } from "astro:assets";
import "./styles.css"
---

<div class="image-container">
    <img src="/PEE_logo.png" alt="Programación en español logo" loading="lazy" />
    <p>
      Comunidad hispanohablante de desarrollo de Software. Aprende, comparte,
      enseña, desarrolla...
    </p>
    <p>¡Y que tengas buen código!</p>
  </div>