---
import { Image } from "astro:assets";
import "./HomeLogo.css"
import logoImage from "./assets/PEE_logo.png";
---

<div class="image-container">
    <Image src={logoImage} alt="Programación en español logo" loading="lazy" />
    <p>
      Comunidad hispanohablante de desarrollo de Software. Aprende, comparte,
      enseña, desarrolla...
    </p>
    <p>¡Y que tengas buen código!</p>
  </div>