<nav class="nav-container">
  <a href="/"><img src="/nav-logo.svg" alt="nav logo" /></a>
  <ul class="nav-list-container">
    <li class="nav-link"><a href="/">Inicio</a></li>
    <li class="nav-link"><a href="/networks">Redes de la comunidad</a></li>
    <li class="nav-link"><a href="/devathon">Devathon</a></li>
  </ul>
</nav>
<style>
  .nav-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }

  .nav-container img {
    width: 90px;
  }

  .nav-list-container {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .nav-link a {
    color: #fff;
    text-decoration: none;
    font-size: 22px;
  }
</style>
