---
import type { networkLink } from "../../../interfaces/Networks.interface";
import "./styles.css";

interface Props {
  networkList: networkLink[];
}

const { networkList } = Astro.props;
---

<ul class="links-list">
  {
    networkList.map((network: networkLink): void => {
      return (
        <li class="link-container">
          <a class="network-link" target="_blank" href={network.link}>
            <img src={network.imagePath} alt={network.alt} />
            <span>{network.title}</span>
          </a>
        </li>
      );
    })
  }
</ul>
