.links-list {
  list-style: none;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.link-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  background: #fff1;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  gap: 10px;
  box-shadow: 0px 4px 0px 0px rgb(255 255 255 / 12%);
}

.link-container img {
  width: 3rem;
  height: 3rem;
}

.link-container span {
  color: #fff;
}

.network-link {
  background: transparent;
  border: none;
  width: 100%;
}

.youtube-sub-link {
  color: red;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
}

[popover] {
  width: 50dvw;
  border: 2px solid #fff;
  border-radius: 10px;
  background-color: #151c34;
  color: #fff;
  padding: 12px;
  transition: translate 0.7s ease-in-out,
    display 0.7s ease-in-out allow-discrete;
  translate: 0 -100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  overflow: hidden;
  visibility: hidden;
}

[popover] p {
  line-height: 2rem;
  text-align: center;
  text-wrap: balance;
}

.close-popover-btn {
  background-color: #38b6ff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
}

[popover]:popover-open {
  translate: 25dvw 30dvh;
  visibility: visible;
}

[popover]::backdrop {
  background-color: rgba(0, 0, 0, 0.2);
}

@starting-style {
  [popover]:popover-open {
    translate: 25dvw -30dvh;
  }
}

@media (max-width: 800px) {
  .links-list {
    grid-template-columns: 1fr;
  }
}
