a {
  color: #fff;
}
h1 {
  font-size: 3rem;
  text-align: center;
}

.teams-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: center;
  gap: 30px;
  line-height: 1.3lh;
}

.team-avatar {
  width: 65px;
  height: 65px;
  border-radius: 50%;
}

.team-detail-card {
  width: 30dvw;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid #fff;
  border-radius: 1rem;
  padding: 2rem;
}

.menthors-container {
  text-align: left;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid #fff;
  border-radius: 1rem;
  padding: 2rem;
}

.team-detail-card > ul,
.menthors-container > ul {
  list-style: none;
  margin: 10px 0;
}

.menthor-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.team-member-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  text-align: center;
  justify-content: space-around;
}

.edition-main-section {
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 35px;
}

.devathon-edition-main-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 3rem;
  text-align: center;
}

.background-grid {
  background-size: 100px 100px;
  z-index: -2;
  background-image: url(/img/bg-grid.png);
  background-position-y: -9px;
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent,
    10%,
    white,
    90%,
    transparent
  );
  mask-image: linear-gradient(
    to bottom,
    transparent,
    10%,
    white,
    90%,
    transparent
  );
}

.background-grid-gradient {
  -webkit-mask-image: linear-gradient(
    to bottom,
    white 0%,
    white 33%,
    transparent 90%
  );
  mask-image: linear-gradient(to bottom, white 0%, white 33%, transparent 90%);
}

.sponsor-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2rem;
}

.event-info-section {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.event-info-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
}

.event-info-container ul {
  list-style: none;
  text-align: justify;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.evaluation-criteria {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 4rem;
  border: 1px solid #fff;
  border-radius: 1rem;
  background: rgba(0, 0, 0, 0.2);
  text-align: left;
  align-items: flex-start;
}

.medal-btn {
  width: 80px;
  filter: none;
}

.repository-title {
  text-align: center;
}

.repository-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 1024px) {
  .event-description,
  .evaluation-criteria {
    width: 100%;
  }

  .event-info-container {
    gap: 50px;
  }
}

@media (max-width: 1172px) {
  .team-detail-card {
    width: 45dvw;
  }
}

@media (max-width: 961px) {
  .teams-container {
    gap: 2rem;
    flex-direction: column;
  }

  .team-detail-card {
    width: 100%;
  }

  .repository-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 15px;
  }
}
