---
import Layout from "../../layouts/Layout.astro";
import AnimatedTitle from "../../components/astro/AnimatedTitle/index.astro";
import "./styles.css";
import NetworkList from "../../components/astro/NetworkList/index.astro";
import { networks } from "../../data/networks";

---

<Layout title="Redes">
  <main>
    <div class="networksContainer">
      <section class="networksSection">
        <AnimatedTitle color="blue" text="Únete a la comunidad" />
        <NetworkList networkList={networks} />
      </section>
    </div>
  </main>
</Layout>
