.networks-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: row;
}

.network-link {
  text-decoration: none;
  gap: 10px;
  display: flex;
  align-items: center;
}

.networks-container section {
  padding: 2rem;
  border-radius: 10px;
  background: rgba(35, 35, 35, 0.42);
  border-radius: 16px;
  border: 1px solid rgba(35, 35, 35, 0.27);
  display: flex;
  flex-direction: column;
  gap: 15px;
}
