---
import "./styles.css";
export interface Props {
  text: string;
  color: string;
}

const { text, color } = Astro.props;
---

<h1
  class={color === "blue"
    ? "animated-title-blue"
    : "animated-title-orange"}
>
  {text}
</h1>
