.sponsor-badge {
  background-image: url("./PEE_logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  border: 1px solid #fff;
  height: 100px;
}

.sponsor-badge[data-opened="false"]:hover {
  animation: shake 0.6s linear 1;
}

.sponsor-badge[data-opened="false"] {
  width: 100px;
  border-radius: 50%;
  transition: ease 0.3s;
}

.sponsor-badge[data-opened="true"] {
  width: 300px;
  border-radius: 15px;
  transition: ease 0.3s;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  border: 1px solid #fff1;
  box-shadow: 0px 4px 0px 0px rgb(255 255 255 / 12%);
}

.sponsor-badge[data-opened="false"] > .sponsor-info {
  visibility: hidden;
}

.sponsor-badge[data-opened="true"] > .sponsor-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 65%;
  height: -webkit-fill-available;
  justify-content: space-evenly;
}

.sponsor-links-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  align-content: center;
}

.sponsor-links-container a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

@media (max-width: 961px) {
  .sponsor-badge[data-opened="false"],
  .sponsor-badge[data-opened="true"] {
    width: 80%;
    border-radius: 15px;
    transition: ease 0.3s;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    border: 1px solid #fff1;
    box-shadow: 0px 4px 0px 0px rgb(255 255 255 / 12%);
  }
  .sponsor-badge[data-opened="false"] > .sponsor-info,
  .sponsor-badge[data-opened="true"] > .sponsor-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 65%;
    height: -webkit-fill-available;
    justify-content: space-evenly;
    visibility: visible;
  }

  .sponsor-badge[data-opened="false"]:hover {
    animation: none;
  }
}

@media (max-width: 372px) {
  .sponsor-badge[data-opened="false"] > .sponsor-info,
  .sponsor-badge[data-opened="true"] > .sponsor-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: -webkit-fill-available;
    justify-content: space-evenly;
    visibility: visible;
  }
  .sponsor-badge {
    background-image: none;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100px;
    border: 1px solid #fff1;
    box-shadow: 0px 4px 0px 0px rgb(255 255 255 / 12%);
  }
  .sponsor-info {
    width: 100%;
  }
}

@keyframes shake {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-10px, 0);
  }
  20% {
    transform: translate(10px, 0);
  }
  30% {
    transform: translate(-10px, 0);
  }
  40% {
    transform: translate(10px, 0);
  }
  50% {
    transform: translate(-10px, 0);
  }
  60% {
    transform: translate(10px, 0);
  }
  70% {
    transform: translate(-10px, 0);
  }
  80% {
    transform: translate(10px, 0);
  }
  90% {
    transform: translate(-10px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
