---
import Layout from "../layouts/Layout.astro";
import styles from "./index.module.css";

export async function getStaticPaths() {
  const pages = [
    {
      slug: "curso-git",
      title: "Curso GIT desde cero",
      video: "https://www.youtube.com/embed/B5BALozzzL4",
    },
    {
      slug: "alexa",
      title: "Tu primera skill de Alexa",
      video: "https://www.youtube.com/embed/meV8lpsweWE",
    },
    {
      slug: "productividad",
      title: "Tips para aumentar tu productividad",
      video: "https://www.youtube.com/embed/2EPabCrt8IY",
    },
    {
      slug: "licencias",
      title: "Tipos de licencias de Software",
      video: "https://www.youtube.com/embed/xxWIoGTaysM",
    },
    {
      slug: "recursividad",
      title: "Recursividad desde cero",
      video: "https://www.youtube.com/embed/0X2kj8iE6qU",
    },
    {
      slug: "loops",
      title: "Ciclos básicos en JS",
      video: "https://www.youtube.com/embed/ozrV338CTc4",
    },
    {
      slug: "logica",
      title: "Mejora tu lógica de programación",
      video: "https://www.youtube.com/embed/gFZIUckL5iA",
    },
    {
      slug: "bloqueado",
      title: "¿Qué hacer cuando me bloqueo al escribir el código?",
      video: "https://www.youtube.com/embed/dTqVXz4bzds",
    },
    {
      slug: "reflejo-css",
      title: "Efecto reflejo en CSS",
      video: "https://www.youtube.com/embed/QI9dLS4TNTk",
    },
    {
      slug: "rutina",
      title: "Crear contenido y trabajar como dev",
      video: "https://www.youtube.com/embed/QyKjhO14w3I",
    },
    {
      slug: "commits",
      title: "Mejora los commits de tu equipo",
      video: "https://www.youtube.com/embed/EdXgW4kMWe8",
    },
    {
      slug: "eslint",
      title: "Estandarización de código",
      video: "https://www.youtube.com/embed/sKT4YvXc1SY",
    },
    {
      slug: "navidad",
      title: "Tutorial especial de navidad",
      video: "https://www.youtube.com/embed/WlJGqct5lKc",
    },
    {
      slug: "agile",
      title: "Metodologías ágiles",
      video: "https://www.youtube.com/embed/KQ-zxvMyCnk",
    },
    {
      slug: "github",
      title: "Mejora tu perfil de GitHub",
      video: "https://www.youtube.com/embed/mJza8XtuTNU",
    },
    {
      slug: "css",
      title: "Curso CSS",
      video: "https://www.youtube.com/embed/ra4-k5WIALw",
    },
    {
      slug: "html",
      title: "Curso HTML",
      video: "https://www.youtube.com/embed/S_9A2AUmV_8",
    },
  ];

  return pages.map(({ slug, title, video }) => {
    return {
      params: { slug },
      props: { title, video },
    };
  });
}

const { title, video } = Astro.props;
---

<Layout title={title}>
  <main>
    <div class={styles["main-video-container"]}>
      <h1>{title}</h1>
      <iframe
        width="560"
        height="315"
        src={video}
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
  </main>
</Layout>
