---
import Layout from "../layouts/Layout.astro";
import Card from "../components/astro/Card.astro";
import { HomeLogo } from "../components/react/HomeLogo";
---

<Layout title="Welcome to Astro.">
  <main>
    <HomeLogo client:load />
  </main>
</Layout>
