---
import "./styles.css";
import type { Data } from "../../../interfaces/DevathonTeamsData";

interface Props extends Data {}

const { name, id, winner } = Astro.props;
---

<div data-opened="false" class="vertical-card-container vertical-card-image-bg">
  <div class="card-central-section">
    <div class="team-card-title-section">
      <h2 class="team-card-title">{name}</h2>
      <button class="team-card-btn" data-winner={winner.toString()} id={id}>
        {
          winner ? (
            <img
              src="/img/devathon-medal.png"
              class="medal-btn"
              alt="Equipo ganador"
              id={id}
            />
          ) : (
            ""
          )
        }
      </button>
    </div>
  </div>
</div>
