---
import "./index.css";
import type { Data } from "../../../interfaces/DevathonTeamsData";

interface Props extends Data {}

const { name, score, id } = Astro.props;
---

<script src="./card-handler.ts"></script>
<div data-opened="false" class="vertical-card-container vertical-card-image-bg">
  <div class="card-central-section">
    <div class="team-card-title-section">
      <h2 class="team-card-title">{name}</h2>
      <button class="team-card-btn" id={id}>
        <i class="icofont-arrow-right"></i>
      </button>
    </div>
    <section class="score-container">
      <h2>Evaluación</h2>
      <!-- TODO: CHART WITH SCORE FROM PROPS -->
      <div class="score-chart"></div>
    </section>
  </div>
  <div class="team-card-footer" data-opened="false">
    <a href="#criteria">Ver criterios de evaluación</a>
    <a href="http://discord.gg/programacion-es">Comunícate con el equipo</a>
  </div>
</div>
