.team-card-title {
  writing-mode: vertical-lr;
  text-orientation: upright;
}

.team-card-title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.vertical-card-image-bg {
  background: linear-gradient(
      rgb(0, 0, 0, 1),
      rgb(0, 0, 0, 0.6),
      rgb(0, 0, 0, 0.1)
    ),
    url(/img/coding.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.vertical-card-container {
  display: flex;
  flex-direction: column;
  width: 80px;
  border: 1px solid #fff;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  height: 350px;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.vertical-card-container a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.vertical-card-container > * .score-chart,
.score-container {
  opacity: 0;
}

.vertical-card-container > .team-card-footer {
  visibility: hidden;
}

.team-card-btn {
  border: none;
  padding: 0;
  background: transparent;
  color: #fff;
  border-radius: 50%;
  font-size: 20px;
}

.medal-btn {
  width: 45px;
}
