.nav-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  min-height: 100px;
}

.nav-container img {
  width: 90px;
}

.nav-list-container {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.nav-link a {
  color: #fff;
  text-decoration: none;
  font-size: 22px;
}

.navUlContainer {
  background-color: #252525;
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  left: 0;
  right: 0;
  position: fixed;
  top: 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.navUl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 15px;
  list-style: none;
}

.openMenuBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: 15px;
  filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 1));
  animation: pulse-white 2s infinite;
}

@keyframes pulse-white {
  0% {
    transform: scale(1);
    filter: drop-shadow(0px 0px 0px rgba(255, 255, 255, 0.7));
  }

  70% {
    transform: scale(1);
    filter: drop-shadow(0px 0px 15px rgba(255, 255, 255, 0));
  }

  100% {
    transform: scale(1);
    filter: drop-shadow(0px 0px 20px rgba(255, 255, 255, 0));
  }
}

@media (max-width: 800px) {
  .nav-list-container {
    display: none;
  }
}
