---
import Layout from "../../layouts/Layout.astro";
import "./styles.css";
---

<Layout title="Newsletter de Programación en español">
  <main>
    <section>
      <h1>Suscríbete a la newsletter mensual de Programación en español</h1>
    </section>
    <div class="main-container">
      <iframe
        data-skip-lazy=""
        src="https://programacion-es.ipzmarketing.com/f/m2IcNnviSq4"
        frameborder="0"
        scrolling="no"
        width="100%"
        class="ipz-iframe"></iframe>
      <script
        data-cfasync="false"
        type="text/javascript"
        src="https://assets.ipzmarketing.com/assets/signup_form/iframe_v1.js"
      ></script>
      <p class="policies">
        Al suscribirte al boletín aceptas las siguientes <a
          href="https://programacion-es.dev/politicas-de-privacidad"
          target="_blank">Políticas de privacidad</a
        >
      </p>
    </div>
  </main>
</Layout>
