section {
  justify-items: center;
}
h1 {
  font-size: 2rem;
  text-align: center;
  word-wrap: break-word;
  max-width: 620px;
}
.policies {
  text-align: center;
}

.policies a {
  color: #fff;
  font-weight: bold;
}
