---
import { ViewTransitions } from "astro:transitions";
import Nav from "../components/astro/Nav/index.astro";

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="icon" type="image/x-icon" href="/PEE_logo.png" />
    <!-- META -->
    <!-- Primary Meta Tags -->
    <title>Programación en español</title>
    <meta name="title" content="Programación en español" />
    <meta
      name="description"
      content="Programación en español. Comunidad de habla hispana de desarrollo web y multiplataforma donde compartimos recursos, realizamos eventos de desarrollo y aprendemos nuevas tecnologías."
    />
    <meta name="author" content="Pedro Plasencia" />
    <meta name="robots" content="index,follow" />
    <meta name="copyright" content="Pedro Plasencia" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://programacion-es.dev/" />
    <meta property="og:title" content="Programación en español" />
    <meta
      property="og:description"
      content="Programación en español. Comunidad de habla hispana de desarrollo web y multiplataforma donde compartimos recursos, realizamos eventos de desarrollo y aprendemos nuevas tecnologías."
    />
    <meta property="og:image" content="/PEE_logo.png" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content="https://programacion-es.dev/" />
    <meta name="twitter:title" content="Programación en español" />
    <meta
      name="twitter:description"
      content="Programación en español. Comunidad de habla hispana de desarrollo web y multiplataforma donde compartimos recursos, realizamos eventos de desarrollo y aprendemos nuevas tecnologías."
    />
    <meta name="twitter:image" content="/PEE_logo.png" />
    <link rel="preload" href="/fonts/icofont.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'" />
    <noscript><link rel="stylesheet" href="/fonts/icofont.min.css"></noscript>
    <script
      defer
      data-domain="programacion-es.dev"
      src="https://plausible.io/js/script.js"
    ></script>
    <link rel="stylesheet" href="/styles/global.css">
    <ViewTransitions/>
  </head>
  <body transition:animate="slide">
    <Nav />
    <slot />
    <footer>
      Hecho con ❤ y <a href="https://astro.build/">Astro</a>. Por{" "}
      <a href="https://programacion-es.dev"
        >Pedro Plasencia (Programación en español)</a
      >
    </footer>
  </body>
</html>
