h1 {
  font-size: 3rem;
}

.mainSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.descriptionContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.descriptionContainer img {
  width: 30rem;
}

.descriptionContainer a {
  text-decoration: none;
  color: #38b6ff;
  font-weight: bold;
}
