---
import HogwartsPoints from "../../components/svelte/Hogwarts/index.svelte"
import Layout from "../../layouts/Layout.astro"
---
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <HogwartsPoints client:load />    
</body>
</html>

<style>
    body {
        padding: 0;
        margin: 0;
        overflow-y: hidden;
    }
</style>
